<HTML>
<HEAD><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8"/></HEAD>
<TITLE>Activity Layouts</TITLE><BODY><H3>Activity Layouts 21-Aug-25 14:37</h3>
<ul>
<li><A HREF="Maintenance Schedule_1099.htm">Machining Jobs All Plants (05A1)</A></li>
<li><A HREF="Maintenance Schedule_1100.htm">Mechanical Jobs Ammonia Plant (07A1)</A></li>
<li><A HREF="Maintenance Schedule_1101.htm">Mechanical Jobs Methanol Plant (07M1)</A></li>
<li><A HREF="Maintenance Schedule_1102.htm">Mechanical Jobs Urea & UHU Plant (07R1)</A></li>
<li><A HREF="Maintenance Schedule_1103.htm">Mechanical Jobs Utilities Plant (07U1)</A></li>
<li><A HREF="Maintenance Schedule_1104.htm">Mechanical Jobs W/S & Bopa Plant (07W1)</A></li>
<li><A HREF="Maintenance Schedule_1105.htm">Welding / Fabrication Jobs (09A1,10A1)</A></li>
<li><A HREF="Maintenance Schedule_1106.htm">Electrical Jobs - All Plants (14A1)</A></li>
<li><A HREF="Maintenance Schedule_1107.htm">Instrument Jobs - All Plants (16A1)</A></li>
<li><A HREF="Maintenance Schedule_1108.htm">Instrument Valve Jobs (17A1)</A></li>
<li><A HREF="Maintenance Schedule_1109.htm">Scaffolding Activities (21A1)</A></li>
<li><A HREF="Maintenance Schedule_1110.htm">Air Conditioning  (28YT)</A></li>
<li><A HREF="Maintenance Schedule_1111.htm">Inspection Activities (67GP)</A></li>
<li><A HREF="Maintenance Schedule_1112.htm">Civil Activities</A></li>
<li><A HREF="Maintenance Schedule_1113.htm">Rigging / Lifting Activities</A></li>
<li><A HREF="Maintenance Schedule_1114.htm">Ammonia Plant All Jobs</A></li>
<li><A HREF="Maintenance Schedule_1115.htm">Methanol Plant All Jobs</A></li>
<li><A HREF="Maintenance Schedule_1116.htm">Urea Plant All Jobs</A></li>
<li><A HREF="Maintenance Schedule_1117.htm">Utilities Plant All Jobs</A></li>
<li><A HREF="Maintenance Schedule_1118.htm">Wharf / Jetty Jobs</A></li>
<li><A HREF="Maintenance Schedule_1119.htm">BOPA Jobs</A></li>
<li><A HREF="Maintenance Schedule_1120.htm">Urea Handling Jobs</A></li>
</ul></body></html>
