<html>
<HEAD><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8" />
<title>Ammonia Plant All Jobs</title>
<body>
<table width = 100%><tr><td width=33% align=left><FONT SIZE='2' FACE='Arial' COLOR='#000000'>Maintenance Weekly Schedule, Week # 35 ( 24.08.25 to 28.08.25 )</FONT></td><td width=34% align=center><FONT SIZE='2' FACE='Arial' COLOR='#000000'>Ammonia Plant All Jobs</FONT></td><td width=33% align=right><FONT SIZE='2' FACE='Arial' COLOR='#000000'>21-Aug-25 14:38</FONT></td></tr></table>
<table border=1 cellpadding=1>
<tr>
<td><center>&nbsp;<b>0</b>&nbsp;</td>
<td valign=top>
<img src="Maintenance Schedule_1114_A_1_.png" border=0 USEMAP="#Maintenance Schedule_1114_A_1_">
<MAP NAME="Maintenance Schedule_1114_A_1_">
</MAP>
</td>
</tr>
<tr>
<td><center>&nbsp;<b>1</b>&nbsp;</td>
<td valign=top>
<img src="Maintenance Schedule_1114_A_2_.png" border=0 USEMAP="#Maintenance Schedule_1114_A_2_">
<MAP NAME="Maintenance Schedule_1114_A_2_">
</MAP>
</td>
</tr>
<tr>
<td><center>&nbsp;<b>2</b>&nbsp;</td>
<td valign=top>
<img src="Maintenance Schedule_1114_A_3_.png" border=0 USEMAP="#Maintenance Schedule_1114_A_3_">
<MAP NAME="Maintenance Schedule_1114_A_3_">
</MAP>
</td>
</tr>
</table>
<table width = 100%><tr><td width=33% align=left>&nbsp;</td><td width=34% align=center><FONT SIZE='2' FACE='Arial' COLOR='#000000'>Page 1 of 1</FONT></td><td width=33% align=right><FONT SIZE='2' FACE='Arial' COLOR='#000000'>TASK filters: WS  - 1A. AMMONIA PLANT, WS - WORK IN PROGRESS [WEEKLY].</FONT></td></tr></table>
</body>
</html>
